* {
	box-sizing: border-box;
	font-family: 'Montserrat',sans-serif;
}

html, body {
	height: 100%;
}

body > section {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

aside {
   display: inline-block;
   width: 50%;
   float: left;
}

aside img {
	width: 80%;
	height: auto;
}

main {
  display: inline-block;
  width: 49%;
  float: left;
}

h1 {
	color:#471c9c;
	font-size: 3rem;
	margin-bottom: 0.1rem;
	font-weight: normal;
}

h2 {
  color:#471c9c;
  font-size: 2.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
}

h3 {
  color:#858b9b;
  font-size: 1.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
